extends layout

block content
  .card-blank
    .blank-title 404: File not found
    .blank-text You're in the wrong place, pal!
      | 
  .stats
    .stats-field
      .stats-field-number
        = commits
      | commits
    .stats-field
      .stats-field-number
        = users
      | registered users
    .stats-field
      .stats-field-number
        = lines
      | lines of code
