extends layout

block content
  #content
    h1= title
    .spacer

    .left
      h4 We appreciate your feedback and we will try to answer your questions ASAP.
      br
      br

      form(method='post', action='/contact')
        label Your email address
        - if (!user || !user.user_email)
          input.span5(name='email', type='text', required)
        - else
          input.span5(name='email', type='text', required, value='#{user.user_email}')
        label Message
        textarea.span7(name='msg', rows="10", required)
        br
        input.btn.btn-success(type='submit', value='Submit')

    .right
      .submenu
        a(href='/faq')
          .submenu-item FAQ
        .submenu-item-selected Contact
