extends layout

block content
  #content
    h1= title
    .spacer

    .left
      h3 Ce este ROSEDu Challenge ?
      p TODO

    .right
      .submenu
        .submenu-item-selected FAQ
        a(href='/contact')
          .submenu-item Contact

  .spacer
