extends layout

block content
  #content
    h1= title
    .spacer

    .left
      h3 ROSEDu Challenge Cookbook
      p Glad you joined our challenge! To get started you should join the ROSEdu Challenge,
        go to Home page and click "Start".
      p As you can see you have many projects from which you can choose from. You don't have
        to pick just one, you can add contributions to all of them. We encourgae you to
        discover all of them.
      p Each project has a mentor which can help you get started with the project, and
        review your code.

    .right
      .submenu
        .submenu-item-selected FAQ
        a(href='/contact')
          .submenu-item Contact

  .spacer
