extends layout

block content
  #content
    h1= title
    .spacer

    .left
      h3 ROSEDu Challenge Cookbook
      p Glad you joined our challenge! To get started you should join the ROSEdu Challenge,
        go to Home page and click "Start".
      p As you can see you have many projects from which you can choose from. You don't have
        to pick just one, you can add contributions to all of them. We encourgae you to
        discover all of them.
      p Each project has a mentor which can help you get started with the project, and
        review your code.

      h3 Why ROSEdu Challenge?
      p We love Open Source and we have a lot of projects which need attention.
      Events like Upstream Challenge, ROSEDu Summer of Code inspired us in this quest.
      p Learn by contributing! :)

      h3 How to contribute to Open Source?
      p Github has a good a(href='https://guides.github.com/activities/contributing-to-open-source/')= "tutorial" which we recommend you read.
      p You will quickly discover that each project is unique (of course). Most of the projects
      have a Development/Hask section in the repository README.md, search for that when you browse
      a new project.

      h3 How to get started with Git and GitHub?
      p We recommend you start with a(href='https://try.github.io/levels/1/challenges/1')= "Learn Git" and for more
      answers nothing is better than a(href='http://git-scm.com/docs')= "official docs".
      p GitHub is very easy to ease, their a(href='https://guides.github.com/introduction/flow/index.html')= "flow introduction"
      will help you get started.

      h3 Whom I can ask for help?
      p You can drop as an email from the a(href='/contact')="Contact" section, or
      a(href='https://github.com/blog/821-mention-somebody-they-re-notified')="mention one of the mentors" in an issue or pull request.


    .right
      .submenu
        .submenu-item-selected FAQ
        a(href='/contact')
          .submenu-item Contact

  .spacer
