extends layout

block content
  .card-blank
    .blank-title ROSEdu Challenge
    .blank-text
      | Start contributing to Open Source projects and win prizes.
      br
      br
      - if (!everyauth.loggedIn)
        h4
          a(href='/login')= "Log in "
          | with GitHub.



  .card.css3-shadow
    .card-left
      | You always wanted to contribute to an Open Source project,
      | but for some reason you haven't done it?
      | Homework are boring? The games have just begun!
    .card-right.card-ideas
      | Join the challenge now!
      br
      br
      br
      a.btn.btn-success(href="/challenges", style="color:white") Start

  .stats
    .stats-field
      .stats-field-number
        = commits
      | commits
    .stats-field
      .stats-field-number
        = users
      | registered users
    .stats-field
      .stats-field-number
        = lines
      | lines of code
