!!! 5
html
  head
    title= title
    link(rel='shortcut icon', href='images/github-icon.ico')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    script(type="text/javascript", src='http://code.jquery.com/jquery-1.8.1.js')
    script(type="text/javascript", src='/javascripts/form.js')
    script(type="text/javascript", src='/javascripts/bootstrap-datepicker.js')
    script(src="/javascripts/analytics.js")

  body

    #container
      #header

        a(href="/")
          #logo

        #nav
          ul
            li
              a(href="/challenges") Challenge

        #controls
          - if (!everyauth.loggedIn)
            a(href="/login") Log in
          - else
            a(href="/" + user.user_name)= " " + user.user_name + " "
            a(href="/logout")
              #logout

            a(href="/" + user.user_name + "/notifications")
              .notif-box
                - if (user.unread)
                  .notif-unread
                - else
                  .notif-read



      #body
        block content



      .spacer
      .spacer

      #footer
        #copyright
          b &copy; ROSEdu, 2014
        #logo-footer
        #menu-footer
          ul
            li
              - each suser in settings.admin
                - if (everyauth.loggedIn && suser == user.user_name)
                  a(href="/admin") Admin

            li
              a(href="/faq") FAQ
            li
              a(href="/contact") Contact

  include ../public/javascripts/animations.js
